{% extends 'order/base.html' %}

{% block content %}
<h2>order for {{order.0.order.chair.table.cafe.name}}</h2>
<p> at table {{order.0.order.chair.table}} and chair {{order.0.order.chair}}</p>
<table>
    <tr>
        <th>food</th>
        <th>quantity</th>
        <th>price</th>
        <th>amount</th>
        <th>currency</th>
    </tr>
    {% for item in order %}
    <tr>
        <td>{{ item.food.name }}</td>
        <td>{{ item.quantity }}</td>
        <td> {{ item.price }}</td>
        <td> {{ item.total_price }}</td>
        <td> {{ item.food.currency }}</td>

    </tr>
    {% empty %}
    <p>there is no order</p>
    {% endfor %}
    <tr>
        <th>total</th>
        <td>{{total}}</td>
        <td>{{order.0.food.currency}}</td>
    </tr>

</table>

{% endblock content %}
