{% extends 'order/base.html' %}

{% block content %}
    <div class="header">

        <p>Welcome! you are at {{ table }} and {{ chair }} what do you want to eat?</p>
    </div>

    <div class="menu-container">
        <ul class="menu-list">
            {% for food in menu_list %}
            <li class="menu-item" data-id="{{ food.id }}" data-price="{{ food.price }}">
                <div class="item-main">
                    <div class="item-info">
                        <div class="food-name">{{ food.name }}</div>
                        <p class="food-description">{{ food.description }}</p>
                        <span class="food-price">{{ food.price }} {{ food.currency }}</span>
                    </div>
                    <button class="select-btn" >Select</button>

                </div>
                
                <!-- Quantity Panel (Hidden by default) -->
                <div class="quantity-panel hidden">
                    <div class="quantity-controls">
                        <button class="qty-btn" data-action="decrease">−</button>
                        <span class="quantity">1</span>
                        <button class="qty-btn" data-action="increase">+</button>
                    </div>
                    <span class="item-total">{{ food.price }} {{ food.currency }}</span>
                    <button class="cancel-btn"> cancel </button>

                </div>
            </li>
            {% empty %}
            <div class='item-info'>
                <p> sorry we don't have manu know</p>
            </div>
            {% endfor %}

        </ul>
    </div>

    <div class="sticky-button">
        <div class="total-price" id="totalDisplay">0 </div>
        <span class="total-price" > {{ menu_list.0.currency }}</span>
        <button class="order-button" id="orderBtn" data-csrf={{ csrf_token }}>Order Now</button>
    </div>


{% endblock content %}

