{% extends 'order/base.html' %}

{% block content %}

<form method="POST" action="{% url 'order:create_order' cafe_id=cafe.id table_id=table.id chair_id=chair.id %}">
    {% csrf_token %}

    <div class="header">
        <p>
            Welcome to {{ cafe.name }}! You are at table number {{ table.table_id }} 
            and chair number {{ chair.chair_id }}. What do you want to eat?
        </p>
    </div>

    <div class="menu-container">
        <ul class="menu-list">

            {% for food in menu_list %}
            <li class="menu-item">
                <div class="item-main">
                    <div class="item-info">
                        <div class="food-name">{{ food.name }}</div>
                        <p class="food-description">{{ food.description }}</p>
                        <span class="food-price">
                            {{ food.price }} {{ food.currency }}
                        </span>
                    </div>

                    <!-- Quantity Input -->
                    <div class="quantity-input">
                        <label for="food_{{ food.id }}">Quantity:</label>
                        <input 
                            id="food_{{ food.id }}"
                            type="number" 
                            name="quantity_{{ food.id }}" 
                            value="0" 
                            min="0"
                        >
                    </div>
                </div>
            </li>
            {% empty %}
            <div class="item-info">
                <p>Sorry, we don't have a menu now.</p>
            </div>
            {% endfor %}

        </ul>
    </div>

    <div class="sticky-button">
        <button type="submit" class="order-button">
            Order Now
        </button>
    </div>

</form>

{% endblock content %}
